@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecrafter.Alt.ttf)
}

:focus {
    outline: 0!important
}

* {
    margin: 0;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: .15em
}

[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

html {
    height: 100vh;
    width: 100vw
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Minecraft;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.wrapper .landingPageButtonWrapper {
    padding-top: 40px
}

.logoMinecraft {
    display: block;
    height: 80vmin;
    width: 80vmin
}

.logoholder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center
}

.bkg-landing {
    background-image: url(../img/concrete.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%
}

.btn-primary {
    color: #000;
    background-color: transparent;
    border: 0, transparent;
    border-color: transparent;
    transition: all .4s linear;
    text-decoration: none
}

.btn-primary:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 0 transparent;
    border-color: transparent;
    text-shadow: 0 0 15px #000
}

.btn-primary:active,
.btn-primary:focus,
.btn-type2:active,
.btn-type2:focus {
    outline: 0;
    border: 0 transparent;
    background: 0 0
}

.btn-type2 {
    color: #000!important;
    background-color: transparent;
    border: 0, transparent;
    border-color: transparent;
    transition: all .2s linear;
    text-decoration: none
}

.btn-type2:hover {
    transform: scale(1.1);
    background-color: transparent!important;
    border: 0, transparent!important;
    border-color: transparent;
    text-shadow: 0 0 15px #000;
    color: #fff!important;
    cursor: pointer
}

.bkg-game01 {
    background-image: url(../img/bkg04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    animation: fadein 4s
}

a:visited,
button:visited {
    text-decoration: none
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: auto
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh
}

.wrapperGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-grow: 1
}

.wrapperToolPallete {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 200px;
    background-image: url(../img/woodtexture.jpg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    align-items: center
}

.wrapperCanvas {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center
}

.flex-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
    flex-wrap: wrap;
    width: 100%
}

.square {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: block;
    margin: 2px;
    border: 1px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000
}

.textShadowSmall {
    text-shadow: 0 0 8px #fff
}

.materialsIcons {
    background-size: 100%
}

.toolsIcons {
    background-size: 80%
}

.toolPick {
    background-image: url(../img/PNGS/Iron_Hoe.png)
}

.toolAxe {
    background-image: url(../img/PNGS/iron_axe.png)
}

.toolShovel {
    background-image: url(../img/PNGS/Iron_Shovel.png)
}

.toolSword {
    background-image: url(../img/PNGS/Iron_Sword.png)
}

.clouds {
    background-image: url(../img/PNGS/clouds.png)
}

.sky {
    background-image: url(../img/PNGS/sky.png)
}

.earth {
    background-image: url(../img/PNGS/dirt.png)
}

.grass {
    background-image: url(../img/PNGS/grass.png)
}

.rock {
    background-image: url(../img/PNGS/rock02.png)
}

.brick {
    background-image: url(../img/PNGS/bircks03.png)
}

.wood {
    background-image: url(../img/PNGS/trunk.png)
}

.leaves {
    background-image: url(../img/PNGS/leaves.png)
}

.tnt {
    background-image: url(../img/PNGS/tnt.png)
}

.modal {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#instructionsText {
    font-family: monospace;
    line-height: 1.5rem;
    font-size: 1.5rem
}

.square:hover {
    opacity: .9;
    cursor: pointer;
    -webkit-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 1)
}

#canvas {
    width: 800px;
    height: 630px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    webkit-box-shadow: 0 0 82px -24px #fff;
    -moz-box-shadow: 0 0 82px -24px #fff;
    box-shadow: 0 0 82px -24px #fff;
    border: 1px solid #000
}

#canvas div:hover {
    border: 1px solid #000;
    cursor: pointer
}

.minimizedToIcon {
    display: none
}

.fulltext {
    display: inline-block
}

.tile {
    height: 42px;
    width: 42px;
    /* border: .5px solid white; */
    display: inline-block;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media (max-width:991.98px) {
    .wrapperGame {
        flex-direction: column;
        justify-content: space-around
    }
    .wrapperToolPallete {
        flex-direction: row;
        height: 80px;
        flex-grow: 1;
        width: 100%;
        background-size: 15%;
        background-repeat: repeat-x
    }
    .wrapperCanvas {
        flex-direction: column
    }
    .fullText {
        display: none
    }
    .minimizedToIcon {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        margin: 2px;
        border: 1px solid #fff;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #000;
        color: #fff;
        justify-content: center
    }
}

@media (min-width:992px) {
    .wrapperGame {
        flex-direction: row
    }
    .wrapperToolPallete {
        flex-direction: column
    }
    .fullText {
        display: inline-block
    }
    .minimizedToIcon {
        display: none
    }
}