@font-face {
    font-family: PokemonSolid;
    src: url('../fonts/Pokemon_Solid.ttf')
}

@font-face {
    font-family: Pokemon;
    src: url('../fonts/Pokemon\ Hollow.ttf')
}

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0
}

body {
    margin: 0;
    overflow: auto;
    width: 100vw;
    font-family: PokemonSolid;
    letter-spacing: .1em;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.navbar {
    position: fixed;
    width: 100vw
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
    color: #131313;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    text-align: center
}

.fa-bars {
    color: #fff
}

nav {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    font-family: PokemonSolid
}

#poke-nav {
    z-index: 20;
    background-color: #131313;
    color: #fff;
    align-items: center;
    padding: 0;
    top: 0;
    height: 60px
}

#poke-nav a {
    text-decoration: none;
    margin: 0 0;
    padding: .25vw 1vw;
    margin: 20px, 10px
}

a:visited {
    text-decoration: none
}

#poke-nav .logo {
    height: 50px;
    padding: 5px
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0!important
}

h3 {
    color: #fff;
    font-size: calc(12pt + 2vw);
    font-weight: 500;
    text-align: center;
    -webkit-font-smoothing: antialiased
}

.text-shadow {
    text-shadow: 0 0 25px #000
}

p {
    color: #131313;
    font-size: 14pt;
    font-weight: 500;
    text-align: center;
    -webkit-font-smoothing: antialiased
}

.pokeball {
    background-color: #ffce54;
    content: url);
}

.ultraball {
    background-color: #d8334a;
    content: url("../img/ultraball.png");
}

.bkg-yellow {
    background-color: #ffce54;
}

.bkg-white {
    background-color: white;
}

.cardback:hover {
    background-size: 6vmin;
    cursor: pointer
}

#poke-nav a:hover {
    color: #ffce54;
    cursor: pointer;
    text-decoration: none
}

nav.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0
}

.box-shadow {
    -webkit-box-shadow: 0 4px 32px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 32px -16px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 32px -16px rgba(0, 0, 0, 1)
}

#welcomeScreen {
    width: 100vw;
    height: 100vh;
    background-color: #ffce54;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 4s
}

#paint {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #000;
    background-color: transparent;
    font-size: 32px;
    color: #000;
    font-family: PokemonSolid
}

#paint:hover {
    color: #d8334a;
    border-color: #d8334a;
    text-shadow: #000
}

#mybulb {
    display: flex;
    align-self: center;
    opacity: .8;
    height: 40px;
    width: auto
}

#mybulb:hover {
    cursor: pointer;
    opacity: 1
}

.h-60px {
    height: 60px;
    width: 100%
}

.h-30px {
    height: 30px
}

#ash {
    height: 50vh;
    width: auto
}

#gotcha {
    height: auto;
    width: 90%
}

.h-00px {
    height: 00px
}

.black {
    color: #d8334a;
}

.cardContainer {
    width: 99vw;
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow-x: hidden
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffce54;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.flip {
    transform: rotateY(180deg);
}

#pokeball {
    width: 100%;
    height: auto;
}

@media (max-width:410.98px) {
    .cardContainer {
        grid-template-columns: repeat(2, auto)
    }
    .card {
        height: 125px;
        width: 125px;
    }
    #poke-nav a:hover {
        color: black;
    }
}

@media (min-width:411px) and (max-width:575.98px) {
    .cardContainer {
        grid-template-columns: repeat(3, auto)
    }
    .card {
        height: 150px;
        width: 150px;
    }
    #poke-nav a:hover {
        color: black;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .cardContainer {
        grid-template-columns: repeat(4, auto)
    }
    .card {
        height: 150px;
        width: 150px;
    }
    #poke-nav a:hover {
        color: black;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .cardContainer {
        grid-template-columns: repeat(4, auto)
    }
    .card {
        height: 150px;
        width: 150px;
    }
    #poke-nav a:hover {
        color: black;
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .cardContainer {
        grid-template-columns: repeat(4, auto)
    }
    .card {
        height: 175px;
        width: 175px;
    }
}

@media (min-width:1200px) {
    .cardContainer {
        grid-template-columns: repeat(6, auto)
    }
    .card {
        height: 175px;
        width: 175px;
    }
}